body {
    font-family: 'Gill Sans', sans-serif;
    margin: 0;
    background-color: #373635;
    overflow-y: scroll;
    scrollbar-width: 0;
    -ms-overflow-style: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 1vh;
    height: fit-content;
}

.logo img {
    width: 100%;
    pointer-events: none;
    user-select: none;
}

.page-buttons a {
    border-radius: 10px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 3vh 7vh;
    text-decoration: none;
    font-size: 1em;
    transition: 0.5s;
}

.dropdown-btn {
    content-visibility: hidden;
    display: none;
}

.dropdown-content {
    content-visibility: hidden;
}

.page-buttons a:hover {
    border-radius: 10px;
    padding: 2vh 5vh;
    background-color: #ddd;
    color: black;
}

.img-container {
    transform: translateY(2vh);
    max-width: 60%;
    user-select: none;
    pointer-events: none;
    display: flexbox;
    margin: auto;
    border-radius: 15px;
}

.img-container .text {
    color: white;
    font-size: 1.6em;
    display: flex;
}

.img-container .text .info {
    padding-top: 1vh;
    padding-left: 1vh;
    color: white;
    font-size: 0.6em;
}

.img-container .featured img {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.footer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 1vh;
    margin-top: -50vh;
}

.footer a {
    width: 100%;
    font-size: 2em;
    border: none;
    padding: 0.05vh;
    content-visibility: visible;
    background: none;
    color: white;
    cursor: pointer;
    display: block;
}

/*Mobile - 0 to 767, Tablet - 768 to 1023, Desktop - 1024+*/
/* Mobile Styles */
@media screen and (min-width: 0px) and (max-width: 767px) {

    body {
        overflow-y: scroll;
        scrollbar-width: 0;
        -ms-overflow-style: 0;
        overflow-x: hidden;
    }

    body::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .page-buttons {
        display: none;
    }

    .logo {
        width: 70%;
        pointer-events: none;
        user-select: none;
    }

    .navbar {
        display: flex;
        padding-top: 3vh;
        transition: 0.5s;
    }

    .dropdown-btn {
        font-size: 0.75em;
        border: none;
        content-visibility: visible;
        background: none;
        color: white;
        cursor: pointer;
        display: block;
        transform: translate(82vw, -2vh);
        transition: 0.5s;
    }

    .navbar.open {
        transform: translateY(30vh);
    }

    .dropdown-content {
        content-visibility: visible;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #373635;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
    }

    .dropdown.clicked .dropdown-content {
        height: 30vh;
        content-visibility: visible;
    }

    .dropdown.clicked .dropdown-btn {
        transform: translate(82vw, 16vh);
    }

    .dropdown-content a {
        color: white;
        padding: 2.4vh 3vw; 
        text-decoration: none;
        display: block;
        transition: height 0.5s;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
    }

    .img-container {
        transform: translateY(0);
        max-width: 90%;
        user-select: none;
        pointer-events: none;
        display: flexbox;
        margin: auto;
        border-radius: 15px;
        transition: 0.5s;
    }

    .img-container .text {
        color: white;
        font-size: 2.5vh;
        display: block;
        max-width: 100%;
        transition: 0.5s;
    }

    .img-container .text .info {
        color: white;
        font-size: 2.2vh;
        padding: 0;
        transition: 0.5s;
    }

    .img-container .featured img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 15px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
    }

    .dropdown.clicked .img-container {
        transform: translateY(30vh);
    }

    .footer {
        margin: 0 auto;
        width: fit-content;
        flex-direction: row;
        position: relative;
        margin-top: 35vh;
        transition: 0.5s;
    }

    .footer div {
    margin: 10px;
    }

    .footer a {
        padding: 0vh;
    }
    
    .dropdown.clicked .footer {
        margin-top: 65vh;
    }

}
